@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@700&display=swap');


*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
	height: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	/* color-scheme: dark light; */
}

body {
	font-size: 1.6rem;
	padding: 0;
	margin: 0;
}

@media (prefers-color-scheme: light) {
	:root {}
}